*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #727272;
}

.ctn-loader .logo-stellarix{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
}

.ctn-loader .logo-stellarix img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loading {
  width: 100vw;
  height: 100vh;
  /* background: rgba(202, 202, 202, 0.712); */
  /* filter: blur(6px); */
  display: flex;
  justify-content: space-evenly;
  pointer-events: none;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
}

.loading__sec {
  background: #2322f0;
  flex: 1;
  position: relative;
}

.loading__sec span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: clamp(2.5rem, 24px, 5vw);
  opacity: 0;
}